<div class="videoBlocks homePopular" style="margin:5px;border:0px;padding:0px;">
  <div class="rowBlock odd">
    <div class="frame Video_image">
      <div class="Video_author_image author_image">{auth_pic}</div>
    </div>
    <div class="details">
      <h3>{node_label}</h3>

      {director}

      <div class="addby" style="margin-bottom:10px;">
        Video Lecture added by {auth_name_link} {disciplines}
      </div>

      <div class="media-embed" style="margin-bottom:10px;">
        {thumbnail}
        <div class="emvideo emvideo-preview emvideo-youtube" style="display: block;">{embed}</div>
      </div>

      <div style="margin-bottom:6px;">{post_date}</div>
    </div>

    <div class="newsfeed_comment">
      <div id="div-comments-post-{nid}"></div>
      <div id="div-form-post-{nid}"></div>
    </div>
  </div>
</div>
