<object width="450" height="350">
  <param name="movie" value="http://www.youtube.com/v/{id}"></param>
  <embed src="http://www.youtube.com/v/{id}"
         type="application/x-shockwave-flash"
         width="450"
         height="350"
         wmode="transparent"></embed>
</object><br />
